<div class="row">
  <div class="col-xs-offset-2 col-xs-10"><br><br><br><br><br><br>
    <h4><span style="background-color: #afeeee">新規投稿</span></h4>
    <h5><span>My投稿記事</span></h5>

    <%= form_with model:@article, url: articles_path, method: :post, local:true do |f| %>

      <div class="col-xs-4">
        <%= f.label :Photo1   %>
        <br><br><br><br><br>
        <%= f.attachment_field :image %>
        <br>
        <!--<%#= f.label :Photo2   %>-->
        <!--<br><br><br><br><br><br>-->
        <!--<%#= f.attachment_field :image %>-->
      </div>
      <div class="title1">
        <%= f.label :タイトル   %>
        <%= f.text_field :title, autofocus: true, autocomplete: "titles" %>
      </div>
      <div class="introduction1"><br>
        <%= f.label :本文1   %>
        <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction" %>
      </div>
      <!--<div class="introduction1"><br>-->
      <!--  <%#= f.label :本文2  %>-->
      <!--  <%#= f.text_area :introduction, autofocus: true, autocomplete: "introduction" %>-->
      <!--</div>-->
      <div class="btn1"><br><br>
        <%= f.submit "記事を投稿する", class:"btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>